<a href="https://colab.research.google.com/github/bhardwajshivam/PySpark-Basics/blob/main/METCS777_BigData_notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 1.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=c4eb2c0de08d275af7c02adf319e16460e025f9bd0fa3845a38625d7034b54c6
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [2]:
!pip install findspark

Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

In [3]:
import findspark
findspark.init()
from pyspark import SparkContext
from pyspark.sql import SparkSession
sc = SparkContext("local")
spark = SparkSession.builder.getOrCreate()

In [4]:
sc

In [5]:
# Split sentence into words
lines = sc.parallelize([
    "Apache Spark is a unified analytics engine for large-scale data processing.",
    "It provides high-level APIs in Java, Scala, Python and R",
    "it also supports a rich set of higher-level tools including Spark SQL",
    "MLlib for machine learning",
    "GraphX for graph processing",
    "Structured Streaming for incremental computation and stream processing"
 ])

words = lines.flatMap(lambda x: x.split(' '))
print(lines.collect())
print(words.collect())

['Apache Spark is a unified analytics engine for large-scale data processing.', 'It provides high-level APIs in Java, Scala, Python and R', 'it also supports a rich set of higher-level tools including Spark SQL', 'MLlib for machine learning', 'GraphX for graph processing', 'Structured Streaming for incremental computation and stream processing']
['Apache', 'Spark', 'is', 'a', 'unified', 'analytics', 'engine', 'for', 'large-scale', 'data', 'processing.', 'It', 'provides', 'high-level', 'APIs', 'in', 'Java,', 'Scala,', 'Python', 'and', 'R', 'it', 'also', 'supports', 'a', 'rich', 'set', 'of', 'higher-level', 'tools', 'including', 'Spark', 'SQL', 'MLlib', 'for', 'machine', 'learning', 'GraphX', 'for', 'graph', 'processing', 'Structured', 'Streaming', 'for', 'incremental', 'computation', 'and', 'stream', 'processing']

In [6]:
rdd1 = words.map(lambda x: (x,1))
print(rdd1.collect())

[('Apache', 1), ('Spark', 1), ('is', 1), ('a', 1), ('unified', 1), ('analytics', 1), ('engine', 1), ('for', 1), ('large-scale', 1), ('data', 1), ('processing.', 1), ('It', 1), ('provides', 1), ('high-level', 1), ('APIs', 1), ('in', 1), ('Java,', 1), ('Scala,', 1), ('Python', 1), ('and', 1), ('R', 1), ('it', 1), ('also', 1), ('supports', 1), ('a', 1), ('rich', 1), ('set', 1), ('of', 1), ('higher-level', 1), ('tools', 1), ('including', 1), ('Spark', 1), ('SQL', 1), ('MLlib', 1), ('for', 1), ('machine', 1), ('learning', 1), ('GraphX', 1), ('for', 1), ('graph', 1), ('processing', 1), ('Structured', 1), ('Streaming', 1), ('for', 1), ('incremental', 1), ('computation', 1), ('and', 1), ('stream', 1), ('processing', 1)]

In [7]:
rdd2 = rdd1.reduceByKey(lambda x, y : x+y)
rdd2.collect()
#for the same key, add up the values

[('Apache', 1),
 ('Spark', 2),
 ('is', 1),
 ('a', 2),
 ('unified', 1),
 ('analytics', 1),
 ('engine', 1),
 ('for', 4),
 ('large-scale', 1),
 ('data', 1),
 ('processing.', 1),
 ('It', 1),
 ('provides', 1),
 ('high-level', 1),
 ('APIs', 1),
 ('in', 1),
 ('Java,', 1),
 ('Scala,', 1),
 ('Python', 1),
 ('and', 2),
 ('R', 1),
 ('it', 1),
 ('also', 1),
 ('supports', 1),
 ('rich', 1),
 ('set', 1),
 ('of', 1),
 ('higher-level', 1),
 ('tools', 1),
 ('including', 1),
 ('SQL', 1),
 ('MLlib', 1),
 ('machine', 1),
 ('learning', 1),
 ('GraphX', 1),
 ('graph', 1),
 ('processing', 2),
 ('Structured', 1),
 ('Streaming', 1),
 ('incremental', 1),
 ('computation', 1),
 ('stream', 1)]

In [8]:
top = rdd2.top(10, lambda x:x[1])
#this returns the top 10 values wrt the values in (key,val) pair in rdd2
print(top)

[('for', 4), ('Spark', 2), ('a', 2), ('and', 2), ('processing', 2), ('Apache', 1), ('is', 1), ('unified', 1), ('analytics', 1), ('engine', 1)]

In [9]:
#returns alphabetically (in the order z to a) the top 50 tuples
print(rdd2.top(50))

[('unified', 1), ('tools', 1), ('supports', 1), ('stream', 1), ('set', 1), ('rich', 1), ('provides', 1), ('processing.', 1), ('processing', 2), ('of', 1), ('machine', 1), ('learning', 1), ('large-scale', 1), ('it', 1), ('is', 1), ('incremental', 1), ('including', 1), ('in', 1), ('higher-level', 1), ('high-level', 1), ('graph', 1), ('for', 4), ('engine', 1), ('data', 1), ('computation', 1), ('and', 2), ('analytics', 1), ('also', 1), ('a', 2), ('Structured', 1), ('Streaming', 1), ('Spark', 2), ('Scala,', 1), ('SQL', 1), ('R', 1), ('Python', 1), ('MLlib', 1), ('Java,', 1), ('It', 1), ('GraphX', 1), ('Apache', 1), ('APIs', 1)]

In [10]:
#Optimised version

top_words = lines.flatMap(lambda x: x.split(' '))\
              .map(lambda x: x.lower())\
              .map(lambda x: x.replace(".","").replace(",",""))\
              .map(lambda x: (x,1))\
              .reduceByKey(lambda x, y: x+y)\
              .top(10, lambda x: x[1])

In [11]:
print(top_words)

[('for', 4), ('processing', 3), ('spark', 2), ('a', 2), ('it', 2), ('and', 2), ('apache', 1), ('is', 1), ('unified', 1), ('analytics', 1)]

#RDD Basics

In [12]:
rdd = sc.parallelize([1,2,3])

In [13]:
y = rdd.collect()
print(rdd)
print(y)

ParallelCollectionRDD[15] at readRDDFromFile at PythonRDD.scala:289
[1, 2, 3]

In [14]:
#take(num)

x = sc.parallelize([1,3,1,2,3])
y = x.take(num = 3) #takes the first 3
print("x=", x.collect())
print(y)

x= [1, 3, 1, 2, 3]
[1, 3, 1]

In [15]:
#takeOrdered
x = sc.parallelize([1,3,1,2,3])
y = x.takeOrdered(num = 3) #ascending
print("x=", x.collect())
print(y)

x= [1, 3, 1, 2, 3]
[1, 1, 2]

In [16]:
#first() returns the first element in RDD

x = sc.parallelize([1,3,1,2,3])
y = x.first()
print("x=", x.collect())
("the first element is", y)

x= [1, 3, 1, 2, 3]

('the first element is', 1)

In [17]:
#using top() to print the biggest 3 and smallest 3 elements

x = sc.parallelize([1,3,1,2,3])
y = x.top(num = 3)
print("x=", x.collect())
print("Biggest elements", y)


y = x.top(num =3, key = lambda x: -x)
print("Smallest elements", y)

#if n > len(rdd), it returns the complete rdd

y = x.top(num = 10)
print("All elemnts", y)

x= [1, 3, 1, 2, 3]
Biggest elements [3, 3, 2]
Smallest elements [1, 1, 2]
All elemnts [3, 3, 2, 1, 1]

In [18]:
#collectAsMap method returns a dictionary with key-value pairs in the RDD

x = sc.parallelize([('C',3),('A',1),('B',2), ('D', 4), ('E', 5)])
y = x.collectAsMap()
print("x=", x.collect())
print("The dictionary of {key:vlaue} pairs:",y)

x= [('C', 3), ('A', 1), ('B', 2), ('D', 4), ('E', 5)]
The dictionary of {key:vlaue} pairs: {'C': 3, 'A': 1, 'B': 2, 'D': 4, 'E': 5}

In [19]:
# If there are duplicate keys, the value of the last key will be retained.
x = sc.parallelize([('C',3),('A',1),('B',2), ('A', 4), ('B', 5)])
y = x.collectAsMap()
print("x=",x.collect())
print("Result if there are duplicates:",y)

x= [('C', 3), ('A', 1), ('B', 2), ('A', 4), ('B', 5)]
Result if there are duplicates: {'C': 3, 'A': 4, 'B': 5}

In [20]:
#Map

x = sc.parallelize(["b", "a", "c"])
y = x.map(lambda x: (x, 1))
print("x=",x.collect())  # collect copies RDD elements to a list on the driver
print(y.collect())

x= ['b', 'a', 'c']
[('b', 1), ('a', 1), ('c', 1)]

In [21]:
x = sc.parallelize([1,2,3,4,5])
y = x.map(lambda x: x**2)
print("x=", x.collect())
print("y=", y.collect())

x= [1, 2, 3, 4, 5]
y= [1, 4, 9, 16, 25]

In [22]:
x = sc.parallelize([1,2,3,4,5])
y = x.map(lambda x: (x,x**2))
print("x=", x.collect())
print("y=", y.collect())

x= [1, 2, 3, 4, 5]
y= [(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [23]:
#flatMap

x = sc.parallelize([(1,2,3),(2,3,4),(3,4,5)])
y = x.map(lambda x: x)
print("x=", x.collect())
print("Map result", y.collect())


y = x.flatMap(lambda x: x)
print("x=", x.collect())
print("flatMap result", y.collect())

x= [(1, 2, 3), (2, 3, 4), (3, 4, 5)]
Map result [(1, 2, 3), (2, 3, 4), (3, 4, 5)]
x= [(1, 2, 3), (2, 3, 4), (3, 4, 5)]
flatMap result [1, 2, 3, 2, 3, 4, 3, 4, 5]

In [24]:
x = sc.parallelize([1,2,3])
y = x.flatMap(lambda x: (x, x**2, 100*x))
print("x=", x.collect())
print(y.collect())

x= [1, 2, 3]
[1, 1, 100, 2, 4, 200, 3, 9, 300]

In [25]:
# vs Map
x = sc.parallelize([1,2,3])
y = x.map(lambda x: (x, 100*x, x**2))
print("x=",x.collect())
print(y.collect())

x= [1, 2, 3]
[(1, 100, 1), (2, 200, 4), (3, 300, 9)]

In [26]:
#mapValues() applies a function f to each value in a key-value pair RDD, while retaining the original keys

x = sc.parallelize([('A',(1,2,3)),('B',(4,5))])
y = x.mapValues(lambda x: [i**2 for i in x]) #function being applied to entire value
print("x=",x.collect())
print(y.collect())

x= [('A', (1, 2, 3)), ('B', (4, 5))]
[('A', [1, 4, 9]), ('B', [16, 25])]

In [27]:
x = sc.parallelize([('A',(1,2,3)),('B',(4,5))])
y = x.map(lambda x: (x[0], [i**2 for i in x[1]]))
print("Using map()")
print("x=",x.collect())
print(y.collect())

Using map()
x= [('A', (1, 2, 3)), ('B', (4, 5))]
[('A', [1, 4, 9]), ('B', [16, 25])]

In [28]:
#filter() method returns a new dataset formed by selecting the elements using the filtering condition

x = sc.parallelize([1,2,3])
y = x.filter(lambda x: x%2 == 1) #filter the odd elements
print("x=",x.collect())
print(y.collect())

x= [1, 2, 3]
[1, 3]

In [29]:
#distinct methods
x = sc.parallelize(['A','A','B'])
y = x.distinct()
print("x=",x.collect())
print(y.collect())

x= ['A', 'A', 'B']
['A', 'B']

In [30]:
#keys() method returns a new rdd that contains only the keys of each tuple in the i/p rdd

x = sc.parallelize([('C',3),('A',1),('B',2)])
y = x.keys()
print("x=",x.collect())
print(y.collect())

x= [('C', 3), ('A', 1), ('B', 2)]
['C', 'A', 'B']

In [31]:
#values() method returns a new RDD that contains only the values of each tuple
x = sc.parallelize([('C',3),('A',1),('B',2)])
y = x.values()
print("x=",x.collect())
print(y.collect())

x= [('C', 3), ('A', 1), ('B', 2)]
[3, 1, 2]

#Partitions

Partitions in Spark refer to the fundamental units of parallelism in distributed processing. When you work with large datasets in Spark, they are divided into smaller, more manageable chunks called partitions. Each partition contains a subset of the data and can be processed independently on different executor nodes in a cluster.

Here are some key points about partitions in Spark:

Parallel Processing: Spark performs computations in parallel by dividing the data into partitions. Each partition is processed independently by a task running on a separate executor, enabling parallelism and distributed computing.
Data Distribution: Partitions help distribute the data across the nodes in a cluster. By dividing the data into smaller partitions, Spark can achieve load balancing and utilize the available resources efficiently.
Partitioning Schemes: Spark provides various partitioning schemes, such as hash partitioning and range partitioning, to determine how the data is divided among partitions. The choice of partitioning scheme can impact data distribution and performance.
Transformation and Actions: Transformations in Spark, such as map() or filter(), are applied on a per-partition basis. Actions like reduce() or collect() operate on the data across all partitions, leveraging parallelism.
Control and Optimization: Partitions provide fine-grained control over data processing. Developers can control the number of partitions, repartition data, or perform custom partitioning to optimize performance and resource usage.
Data Locality: Spark tries to achieve data locality, where partitions are processed on the same nodes where the data resides or is cached. This reduces data transfer across the network and improves performance.
Shuffling: Certain operations, like groupBy() or join(), may require data to be shuffled across partitions. Shuffling involves redistributing data based on specific keys or criteria, which can incur additional overhead.
Partition Size: The optimal partition size depends on factors like the available resources, data characteristics, and the specific workload. Choosing an appropriate partition size helps balance data distribution, minimize data skew, and avoid memory or performance issues.

In [32]:
#getNumPartitions method returns the number of partitions

# getNumPartitions
x = sc.parallelize([1,2,3,4,5,6,7,8,9,10,11,12,13,14], 5)
y = x.getNumPartitions()
print(x.glom().collect())
print(y)

[[1, 2], [3, 4], [5, 6, 7, 8], [9, 10], [11, 12, 13, 14]]
5

In [33]:
#repartition() returns a new rdd that has exactly numPartitions

x = sc.parallelize([1,2,3,4,5],2)
y = x.repartition(numPartitions=3)
print(x.glom().collect())
print(y.glom().collect())

[[1, 2], [3, 4, 5]]
[[1, 2], [3, 4, 5], []]

In [34]:
#coalesce() method returns a new rdd that is reduced into n partitions

x = sc.parallelize([1,2,3,4,5,6,7,8,9,10,11,12,13,14], 4)
y = x.coalesce(numPartitions=2)
print(x.glom().collect())
print(y.glom().collect())

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12, 13, 14]]
[[1, 2, 3, 4, 5, 6], [7, 8, 9, 10, 11, 12, 13, 14]]

In [35]:
#glom() method returns a new RDD created by coalescing all elements within each partition into a list.

x = sc.parallelize(['C','B','A'], 2)
y = x.glom()
print("x=",x.collect())
print(y.collect())

x= ['C', 'B', 'A']
[['C'], ['B', 'A']]

#Sampling

In [36]:
#takeSample() method returns a fixed-size sampled subset of the RDD. This operation requires the numpy library.

x = sc.parallelize(range(7))
ylist = [x.takeSample(withReplacement=False, num=3) for i in range(5)]  # call 'sample' 5 times
print('x = ' + str(x.collect()))
for cnt,y in zip(range(len(ylist)), ylist):
    print('sample:' + str(cnt) + ' y = ' +  str(y))

x = [0, 1, 2, 3, 4, 5, 6]
sample:0 y = [6, 4, 0]
sample:1 y = [5, 1, 6]
sample:2 y = [0, 6, 5]
sample:3 y = [5, 1, 0]
sample:4 y = [6, 5, 3]

In [37]:
#union() method returns a new RDD that represents the union of the elements in the source RDD and another RDD.

x = sc.parallelize(['A','A','B'])
y = sc.parallelize(['D','C','A'])
z = x.union(y)
print("x=",x.collect())
print("y=",y.collect())
print(z.collect())

x= ['A', 'A', 'B']
y= ['D', 'C', 'A']
['A', 'A', 'B', 'D', 'C', 'A']

In [38]:
#intersection() method returns a new RDD that represents the intersection of the elements in the source RDD and another RDD. The resulting RDD contains only the distinct elements that are common to both RDDs.

x = sc.parallelize(['A','A','B'])
y = sc.parallelize(['A','C','D'])
z = x.intersection(y)
print("x=",x.collect())
print(y.collect())
print(z.collect())

x= ['A', 'A', 'B']
['A', 'C', 'D']
['A']

In [39]:
#reduce() method reduces the elements of the RDD using the specified commutative and associative binary operator f. It performs the reduction operation locally within each partition of the RDD.

# reduce
x = sc.parallelize([1,2,3])
y = x.reduce(lambda x, y: x + y)  # computes a cumulative sum
print("x=",x.collect())
print(y)

x= [1, 2, 3]
6

In [40]:
#fold() method aggregates the elements of each partition in an RDD and then combines the results of all partitions using a given associative function and a neutral "zero value". The op function is used to perform the aggregation and must adhere to certain requirements.

# fold
x = sc.parallelize([1,2,3])
neutral_zero_value = 0  # 0 for sum, 1 for multiplication
y = x.fold(neutral_zero_value,lambda obj, accumulated: accumulated + obj) # computes cumulative sum
print("x=",x.collect())
print(y)

x= [1, 2, 3]
6

In [41]:
#aggregate() method aggregates the elements of each partition in an RDD and then combines the results
#of all partitions using given combine functions and a neutral "zero value".
#This operation allows for different result types for the sequential and combined operations.

'''
Parameters:

zeroValue: The initial or neutral value for the aggregation operation.
seqOp: The sequential operation function used for aggregating the elements within each partition.
combOp: The combined operation function used for merging the results of different partitions.
'''

x = sc.parallelize([2,3,4])
neutral_zero_value = (0,1) #0 for sum and 1 for multiplication
seqOp = (lambda aggregated, el: (aggregated[0] + el, aggregated[1] + el))
combOp = (lambda aggregated1, aggregated2: (aggregated1[0] + aggregated2[0], aggregated1[1] * aggregated2[1]))
y = x.aggregate(neutral_zero_value, seqOp, combOp)

print("x=", x.collect())
print(y)

x= [2, 3, 4]
(9, 10)

In [42]:
#reduceByKey() method merges the values for each key in an RDD using an associative reduce function.
x = sc.parallelize([('B',1),('B',2),('A',3),('A',4),('A',5)])
y = x.reduceByKey(lambda agg, obj: agg + obj)
print("x = ", x.collect())
print("y = ", y.collect())

x =  [('B', 1), ('B', 2), ('A', 3), ('A', 4), ('A', 5)]
y =  [('B', 3), ('A', 12)]

In [43]:
#foldByKey
'''
foldByKey(zeroValue, func, numPartitions=None)

The foldByKey() method merges the values for each key in an RDD using an associative function
 func and a neutral zeroValue. The zeroValue can be added to the result an arbitrary number
 of times and should not affect the final outcome.
'''

x = sc.parallelize([('B',1),('B',2),('A',3),('A',4),('A',5)])
zeroValue = 1 # one is 'zero value' for multiplication
y = x.foldByKey(zeroValue,lambda agg,x: agg*x )  # computes cumulative product within each key
print("x=",x.collect())
print(y.collect())

x= [('B', 1), ('B', 2), ('A', 3), ('A', 4), ('A', 5)]
[('B', 2), ('A', 60)]

In [44]:
x = sc.parallelize([('B',1),('B',2),('A',3),('A',4),('A',5)])
zeroValue = 0 # one is 'zero value' for add
y = x.foldByKey(zeroValue,lambda agg,x: agg+x )  # computes cumulative product within each key
print("x=",x.collect())
print(y.collect())

x= [('B', 1), ('B', 2), ('A', 3), ('A', 4), ('A', 5)]
[('B', 3), ('A', 12)]

In [45]:
#aggregateByKey()

'''
method aggregates the values of each key in an RDD using given combine functions and a neutral "zero value".
This function allows for a different result type U than the type of the values in the RDD V.
It requires two operations: one for merging a V into a U within a partition and another for merging two U
values between partitions. These operations can modify and return their first argument to avoid memory allocation.

Parameters:

zeroValue: The neutral value or zero value for the aggregation operation.
seqFunc: The function used to merge a value V into an intermediate result U within each partition.
combFunc: The function used to merge two intermediate results U between partitions.
numPartitions (optional): The number of partitions to use for the resulting RDD. If not specified, the default partitioning scheme will be used.
'''

x = sc.parallelize([('B',1),('B',2),('A',3),('A',4),('A',5)])
zeroValue = [] # empty list is 'zero value' for append operation
mergeVal = (lambda aggregated, el: aggregated + [(el,el**2)])
mergeComb = (lambda agg1,agg2: agg1 + agg2 )
y = x.aggregateByKey(zeroValue,mergeVal,mergeComb)
print("x=",x.collect())
print(y.collect())

x= [('B', 1), ('B', 2), ('A', 3), ('A', 4), ('A', 5)]
[('B', [(1, 1), (2, 4)]), ('A', [(3, 9), (4, 16), (5, 25)])]

In [46]:
#groupByKey

x = sc.parallelize([('B',5),('B',4),('A',3),('A',2),('A',1)])
y = x.groupByKey() #this will group all A and B together. A: all info of A, B: all info of B
print("x=",x.collect())
print([(j[0],[i for i in j[1]]) for j in y.collect()])

x= [('B', 5), ('B', 4), ('A', 3), ('A', 2), ('A', 1)]
[('B', [5, 4]), ('A', [3, 2, 1])]

In [47]:
#countByKey

'''
The countByKey() method counts the number of elements for each key in an
RDD and returns the result as a dictionary to the driver program.
'''

x = sc.parallelize([('B',1),('B',2),('A',3),('A',4),('A',5)])
y = x.countByKey()
print("x=",x.collect())
print(y)

x= [('B', 1), ('B', 2), ('A', 3), ('A', 4), ('A', 5)]
defaultdict(<class 'int'>, {'B': 2, 'A': 3})

In [48]:
#countByValue() -> given a list, count the occurence
'''
method counts the occurrences of each unique value in an RDD and returns the
result as a dictionary where the keys are the unique values and the values are the counts.
'''

x = sc.parallelize([1,3,1,2,3])
y = x.countByValue()
print("x=",x.collect())
print(y)

x= [1, 3, 1, 2, 3]
defaultdict(<class 'int'>, {1: 2, 3: 2, 2: 1})

#Statistics

In [49]:
#count() method returns the number of elements in an RDD.

x = sc.parallelize([1,3,2])
y = x.count()
print("x=",x.collect())
print(y)

x= [1, 3, 2]
3

In [50]:
#max

x = sc.parallelize([1,9,4,2,11])
y = x.max()
z = x.max(key=str) #this gives second max
print("x=",x.collect())
print(y)
print(z)

x= [1, 9, 4, 2, 11]
11
9

In [51]:
#min

x = sc.parallelize([1,3,2])
y = x.min()
print("x=",x.collect())
print(y)

x= [1, 3, 2]
1

In [52]:
#sum

x = sc.parallelize([1,3,2])
y = x.sum()
print("x=",x.collect())
print(y)

x= [1, 3, 2]
6

In [53]:
#mean

x = sc.parallelize([1,3,2])
y = x.mean()
print("x=",x.collect())
print(y)

x= [1, 3, 2]
2.0

In [54]:
#variance ''variance = sd**2

x = sc.parallelize([1,3,2])
y = x.variance()  # divides by N
print("x=",x.collect())
print(y)

x= [1, 3, 2]
0.6666666666666666

In [55]:
#stdev

x = sc.parallelize([1,3,2])
y = x.stdev()  # divides by N
print("x=",x.collect())
print(y)

x= [1, 3, 2]
0.816496580927726

#Join and combine RDDs

In [56]:
#join

x = sc.parallelize([('C',4),('B',3),('A',2),('A',1)])
y = sc.parallelize([('A',8),('B',7),('A',6),('D',5)])
z = x.join(y)
print("x=",x.collect())
print("y=",y.collect())
print(z.collect())

x= [('C', 4), ('B', 3), ('A', 2), ('A', 1)]
y= [('A', 8), ('B', 7), ('A', 6), ('D', 5)]
[('B', (3, 7)), ('A', (2, 8)), ('A', (2, 6)), ('A', (1, 8)), ('A', (1, 6))]

In [57]:
#leftOuterJoin of x and y will give all elements of x and x intersection y

x = sc.parallelize([('C',4),('B',3),('A',2),('A',1)])
y = sc.parallelize([('A',8),('B',7),('A',6),('D',5)]) #as we can see, there is no D in x so leftOuterJoin of x on y will not have D
z = x.leftOuterJoin(y)
print("x=",x.collect())
print(y.collect())
print(z.collect())

x= [('C', 4), ('B', 3), ('A', 2), ('A', 1)]
[('A', 8), ('B', 7), ('A', 6), ('D', 5)]
[('C', (4, None)), ('B', (3, 7)), ('A', (2, 8)), ('A', (2, 6)), ('A', (1, 8)), ('A', (1, 6))]

In [58]:
#rightOuterJoin of x on y will give all elements of y and x intersection y

x = sc.parallelize([('C',4),('B',3),('A',2),('A',1)]) #this will not have
y = sc.parallelize([('A',8),('B',7),('A',6),('D',5)])
z = x.rightOuterJoin(y)
print("x=",x.collect())
print(y.collect())
print(z.collect())

x= [('C', 4), ('B', 3), ('A', 2), ('A', 1)]
[('A', 8), ('B', 7), ('A', 6), ('D', 5)]
[('B', (3, 7)), ('A', (2, 8)), ('A', (2, 6)), ('A', (1, 8)), ('A', (1, 6)), ('D', (None, 5))]

In [59]:
#cartesian -> gives all combinations

x = sc.parallelize(['A','B'])
y = sc.parallelize(['C','D'])
z = x.cartesian(y)
print("x=",x.collect())
print(y.collect())
print(z.collect())

x= ['A', 'B']
['C', 'D']
[('A', 'C'), ('A', 'D'), ('B', 'C'), ('B', 'D')]

In [60]:
#subtract

x = sc.parallelize([('C',4),('B',3),('A',2),('A',1)])
y = sc.parallelize([('C',8),('A',2),('D',2)])
z = x.subtract(y) #('A',2) will be removed from x
print("x=",x.collect())
print("x=",y.collect())
print(z.collect())

x= [('C', 4), ('B', 3), ('A', 2), ('A', 1)]
x= [('C', 8), ('A', 2), ('D', 2)]
[('C', 4), ('B', 3), ('A', 1)]

In [61]:
#zip() -> zips two rdd together

x = sc.parallelize(['B','A','A'])
y = x.map(lambda x: ord(x))  # zip expects x and y to have same #partitions and #elements/partition
z = x.zip(y)
print("x=",x.collect())
print(y.collect())
print(z.collect())

x= ['B', 'A', 'A']
[66, 65, 65]
[('B', 66), ('A', 65), ('A', 65)]

In [62]:
#zipWithIndex

x = sc.parallelize(['B','A','A'],2)
y = x.zipWithIndex()
print(x.glom().collect())
print(y.collect())

[['B'], ['A', 'A']]
[('B', 0), ('A', 1), ('A', 2)]

#other functions

In [63]:
# sortByKey
x = sc.parallelize([('B',1),('A',2),('C',3)])
y = x.sortByKey()
print("x=",x.collect())
print(y.collect())

x= [('B', 1), ('A', 2), ('C', 3)]
[('A', 2), ('B', 1), ('C', 3)]

In [64]:
# foreach
from __future__ import print_function
x = sc.parallelize([1,2,3])
def f(el):
    '''side effect: append the current RDD elements to a file'''
    f1=open("./foreachExample.txt", 'a+')
    print(el,file=f1)

open('./foreachExample.txt', 'w').close()  # first clear the file contents

y = x.foreach(f) # writes into foreachExample.txt

print("x=",x.collect())
print(y) # foreach returns 'None'
# print the contents of foreachExample.txt
with open("./foreachExample.txt", "r") as foreachExample:
    print (foreachExample.read())

x= [1, 2, 3]
None
1
2
3

#TF-IDF

In [65]:
from collections import Counter
import math

documents = ["apple orange apple", "apple lemon", "orange lemon"]
rdd = sc.parallelize(documents)

# TF calculation
tf_rdd = rdd.map(lambda doc: Counter(doc.split()))

# IDF calculation
idf_rdd = tf_rdd.flatMap(lambda tf: tf.keys()).map(lambda word: (word, 1)).reduceByKey(lambda a, b: a + b)

N = rdd.count()
idf_values = idf_rdd.mapValues(lambda count: math.log(N / count)).collectAsMap()

# TF-IDF calculation
tfidf_rdd = tf_rdd.map(lambda tf: {word: tf[word] * idf_values[word] for word in tf})

tfidf = tfidf_rdd.collect()
print(tfidf)

[{'apple': 0.8109302162163288, 'orange': 0.4054651081081644}, {'apple': 0.4054651081081644, 'lemon': 0.4054651081081644}, {'orange': 0.4054651081081644, 'lemon': 0.4054651081081644}]

In [66]:
#fullOuterJoin


rdd1 = sc.parallelize( [(1, 'a'), (1, 'b'), (5, 'c'), (2, 'd'), (3, 'e')])
rdd2 = sc.parallelize([(1, 'AA'), (5, 'BB'), (5, 'CC'), (6, 'DD')])


rdd1.fullOuterJoin(rdd2).collect()

[(2, ('d', None)),
 (6, (None, 'DD')),
 (1, ('a', 'AA')),
 (1, ('b', 'AA')),
 (5, ('c', 'BB')),
 (5, ('c', 'CC')),
 (3, ('e', None))]

#Creating data frame

In [70]:
a = [('Chris', 'Berliner', 5)]
spark.createDataFrame(a, ['drinker', 'beer', 'score']).collect()

[Row(drinker='Chris', beer='Berliner', score=5)]

In [78]:
likes = [('Chris', 'Bud'), ('Kia', 'Berliner'), ('Matt', 'ARJK')]
frequents = [('Chris', 'Bohene'), ('Kia', 'Little'), ('Oscar', 'Griff')]

likesName=['Drinker', 'Beer']
frequentsName=['Drinker', 'Bar']

likesDF = spark.createDataFrame(likes, likesName) # data as tuples and then column names as str
frequentsDF = spark.createDataFrame(frequents, frequentsName)

likesDF.show()
frequentsDF.show()

+-------+--------+
|Drinker|    Beer|
+-------+--------+
|  Chris|     Bud|
|    Kia|Berliner|
|   Matt|    ARJK|
+-------+--------+

+-------+------+
|Drinker|   Bar|
+-------+------+
|  Chris|Bohene|
|    Kia|Little|
|  Oscar| Griff|
+-------+------+

# join

In [80]:
likesDF.join(frequentsDF, likesDF.Drinker == frequentsDF.Drinker, 'right').show()

+-------+--------+-------+------+
|Drinker|    Beer|Drinker|   Bar|
+-------+--------+-------+------+
|  Chris|     Bud|  Chris|Bohene|
|    Kia|Berliner|    Kia|Little|
|   NULL|    NULL|  Oscar| Griff|
+-------+--------+-------+------+

# full join

In [81]:
likesDF.join(frequentsDF, likesDF.Drinker == frequentsDF.Drinker, 'full').show()

+-------+--------+-------+------+
|Drinker|    Beer|Drinker|   Bar|
+-------+--------+-------+------+
|  Chris|     Bud|  Chris|Bohene|
|    Kia|Berliner|    Kia|Little|
|   Matt|    ARJK|   NULL|  NULL|
|   NULL|    NULL|  Oscar| Griff|
+-------+--------+-------+------+

In [82]:
df = spark.createDataFrame([('a', 1), ('b', 1), ('b', 1), ('a', 2)], ('id', 'c'))
df.show()
df.distinct().show()

+---+---+
| id|  c|
+---+---+
|  a|  1|
|  b|  1|
|  b|  1|
|  a|  2|
+---+---+

+---+---+
| id|  c|
+---+---+
|  a|  1|
|  b|  1|
|  a|  2|
+---+---+

In [83]:
df = spark.createDataFrame([('a', 1), ('b', 1), ('b', 1), ('a', 2)], ('id', 'c'))
df.show()
rdd = df.rdd
print(rdd.collect())

print(df.rdd.map(list).collect())
print(df.rdd.map(tuple).collect())

+---+---+
| id|  c|
+---+---+
|  a|  1|
|  b|  1|
|  b|  1|
|  a|  2|
+---+---+

[Row(id='a', c=1), Row(id='b', c=1), Row(id='b', c=1), Row(id='a', c=2)]
[['a', 1], ['b', 1], ['b', 1], ['a', 2]]
[('a', 1), ('b', 1), ('b', 1), ('a', 2)]

# withColumn

In [84]:
df = spark.createDataFrame([['a'], ['b'], ['b'], ['c']], (['word']))
df.show()

from pyspark.sql.functions import lit
new_df=df.withColumn("COUNT", lit(1))

new_df.show()

+----+
|word|
+----+
|   a|
|   b|
|   b|
|   c|
+----+

+----+-----+
|word|COUNT|
+----+-----+
|   a|    1|
|   b|    1|
|   b|    1|
|   c|    1|
+----+-----+

# groupby

In [85]:
from pyspark.sql import functions as func
new_df.groupBy("word").agg(func.sum("COUNT")).show()

+----+----------+
|word|sum(COUNT)|
+----+----------+
|   c|         1|
|   b|         2|
|   a|         1|
+----+----------+

In [86]:
from pyspark.sql.types import StringType
from pyspark.sql.functions import udf

l = [('Alice', 25), ('Robert', 12), ('Chris', 45)]
df = spark.createDataFrame(l, ['Name', 'Age'])
df.show()


maturity_udf = udf(lambda age: "Adult" if age >=18 else "Child", StringType())

newdf=df.withColumn("Maturity", maturity_udf(df.Age))
newdf.show()

+------+---+
|  Name|Age|
+------+---+
| Alice| 25|
|Robert| 12|
| Chris| 45|
+------+---+

+------+---+--------+
|  Name|Age|Maturity|
+------+---+--------+
| Alice| 25|   Adult|
|Robert| 12|   Child|
| Chris| 45|   Adult|
+------+---+--------+

In [87]:
df.orderBy("Age", ascending=False).limit(1).show()

+-----+---+
| Name|Age|
+-----+---+
|Chris| 45|
+-----+---+

In [88]:
import numpy as np
mat = np.random.rand(8,1).reshape(4, -1)

rdd = sc.parallelize(mat)


print(rdd.collect())

rdd.reduce(lambda x, y: np.add(x, y))

[array([0.11251234, 0.17830219]), array([0.22316913, 0.13379661]), array([0.34088103, 0.11210952]), array([0.76057994, 0.95400933])]

array([1.43714244, 1.37821765])

# Vectors

In [89]:
from pyspark.ml.linalg import Vectors

size=2

data = [(0, Vectors.dense(np.random.rand(size)),),
        (1, Vectors.dense(np.random.rand(size)),),
        (1, Vectors.dense(np.random.rand(size)),),
        (0, Vectors.dense(np.random.rand(size)),)]

df = spark.createDataFrame(data, ["label", "features"])
df.show()

+-----+--------------------+
|label|            features|
+-----+--------------------+
|    0|[0.46434185773091...|
|    1|[0.38309348198800...|
|    1|[0.14640490330863...|
|    0|[0.25840251307330...|
+-----+--------------------+

In [90]:
a = Vectors.dense(np.round(np.random.rand(size), 2))
b = Vectors.dense(np.round(np.random.rand(size), 2))

print(a)
print(b)


np.add(a , b)

[0.32,0.32]
[0.41,0.55]

array([0.73, 0.87])

# Data Partitioning

In [91]:
pairs = sc.parallelize([1, 2, 3, 4, 5, 6, 7, 8]).map(lambda x: (x, x))

pairs.collect()

[(1, 1), (2, 2), (3, 3), (4, 4), (5, 5), (6, 6), (7, 7), (8, 8)]

In [92]:
pairs.partitionBy(4).glom().collect()

[[(4, 4), (8, 8)], [(1, 1), (5, 5)], [(2, 2), (6, 6)], [(3, 3), (7, 7)]]

In [93]:
# Get the coutn of data elements
counts = pairs.count()
print(counts)


# First partition data based on number of batches.
numberOfBatches = 4
partitionedRDD = pairs.partitionBy(int(counts/numberOfBatches)).glom()


# Then we can Loop through the model and train it.
for i in range(4):

    sets = partitionedRDD.map(lambda x: x[i]).collect()
    print("Batch number  ", i, sets)

8
Batch number   0 [(2, 2), (1, 1)]
Batch number   1 [(4, 4), (3, 3)]
Batch number   2 [(6, 6), (5, 5)]
Batch number   3 [(8, 8), (7, 7)]

# treeAggregate()

In [94]:
rdd = sc.parallelize([2, 2, 2, 2, 2, 2, 2, 2], 8)
# Create a threeAggregate that calculate the sum of the elements and counts the elements
a =  rdd.treeAggregate((0,0), lambda x, y: (x[0]+y, x[1]+1) , lambda x, y: (x[0]+y[0],x[1]+y[1]))
print(a)

(16, 8)

In [95]:
a =  rdd.repartition(1)\
    .treeAggregate((1, 1), lambda x, y: (x[0]+y, x[1]+1) , lambda x, y: (x[0]+y[0],x[1]+y[1]))
print(a)

(17, 9)

# aggregateByKey

In [96]:
ratings = sc.parallelize([("A",3),("A",4),("A",5),("A",6),("B",8),("B",9),], 3)
print("partitions\n",ratings.glom().collect())

partitions
 [[('A', 3), ('A', 4)], [('A', 5), ('A', 6)], [('B', 8), ('B', 9)]]

In [99]:
sum_count = ratings.aggregateByKey((0,0),
                                   (lambda C,V: (C[0]+V, C[1]+1)),
                                   (lambda C1, C2: (C1[0]+C2[0],C1[1]+C2[1])))

print(sum_count.collect())
# here we have initialized (0,0) and then used the first lambda fn to do itra partittion
# calculations and then in the later lambda fn we do inter partition sum

[('B', (17, 2)), ('A', (18, 4))]